# Base URL for NextAuth
NEXTAUTH_URL=""

# Base URL for axios
NEXT_PUBLIC_BASE_URL=""

# some long, hard-to-guess string for encoding JSON web tokens
NEXTAUTH_SECRET=""

# another long, hard-to-guess string for encoding revalidation requests
REVALIDATION_SECRET=""

# Base URL for NextAuth
NEXTAUTH_URL="http://localhost:3000"

DB_PATH="./__tests__/__mocks__/db"

CYPRESS_baseUrl="http://localhost:3000"

# for revalidate endpoint
# see https://github.com/vercel/next.js/discussions/25764 
#   for why NODE_ENV won't work
APP_ENV="test"

# user login details for cypress
CYPRESS_TEST_USER_EMAIL=""
CYPRESS_TEST_PASSWORD=""