# Base URL for NextAuth
NEXTAUTH_URL=""

# Base URL for axios
NEXT_PUBLIC_BASE_URL=""

# some long, hard-to-guess string for encoding JSON web tokens
NEXTAUTH_SECRET=""

# another long, hard-to-guess string for encoding revalidation requests
REVALIDATION_SECRET=""

DB_PATH="./db"